<p id="notice"><%= notice %></p>

<p>
  <strong>Id:</strong>
  <%= @login.ID %>
</p>

<p>
  <strong>Pass:</strong>
  <%= @login.pass %>
</p>

<%= link_to 'Edit', edit_login_path(@login) %> |
<%= link_to 'Back', logins_path %>
